<div id="payment" class="cc-form">
  <div class="cc-form">
  Amount to be charged: <%= "#{number_2_currency(@deposit['amount'])} for #{@deposit['custom']}" %>
  </div>
  <%  case @gateway
      when 'PayPal' %>
     <%= render :partial => 'paypal' %>
   <% when 'FirstDataE4' %>
     <%= render :partial => 'firstdatae4' %>
   <% when 'CardConnect','CardConnect_r' %>
     <%= render :partial => 'cardconnect' %>
   <% end %>
  <div class="flex_container">
    <% if @option.allow_gateway? %>
      <%= button_to "Finish reservation", {:action => :confirm_without_payment, :reservation_id => @reservation.id}, {:class => 'flex_item', :class => 'payment_submit'} %>
    <% end %>
    <%= button_to  I18n.t('reservation.Cancel'), {:action => :abandon_remote, :reservation_id => @reservation.id }, 
						 {:confirm => I18n.t('remote.Cancel'), :method => "post", :class => 'flex_item', :class => 'payment_submit', :id => 'rescanx'} %>
  </div>
</div>
