<% form_for :prompt, :url => { :action => :update, :id => @prompt, :method => 'post' } do |f| %>

  <%= f.error_messages %>

  <p><label for="prompt_locale">Language:</label><br/>
  <%= f.select :locale, LANGUAGES %></p>

  <p><label for="prompt_display">Display:</label><br/>
  <%= f.select :display, @displays %></p>

  <p><label for="prompt_body">Explanation:</label><br/>
  <%= f.text_area :body  %></p>

  <p>
  <%= submit_tag 'Save' %>
  </p>
<% end %>

<%= button_to 'Cancel', :action => 'list' %>
