<%= error_messages_for 'country' %>
<%= render :partial => 'setup/shared/buttons' %>
<p>
<%= button_to 'Add a country', :action => 'new' %>
<p>
<%= button_to 'Update Sort Order', :action => 'sort' %>
<table border="1">
  <tr>
    <th>Country</th> <th>Active?</th>
  </tr>
  
  <% for country in @countries %>
    <tr>
      <td><%=h country.name %></td>
      <td><%=country.active %></td>
      <td><%= link_to 'Edit', :action => 'edit', :id => country %></td>
      <td><%= link_to 'Delete', { :action => 'destroy', :id => country },
				  :confirm => "Are you sure you want to delete #{country.name}?",
				  :method => 'post' %></td>
    </tr>
  <% end %>
</table>
</p>
<%= button_to 'Finished', :controller => 'setup/index' %>
