<%= render :partial => 'setup/shared/buttons' %>
<%= error_messages_for 'rigtype' %>
<p>
<%= button_to 'New rigtype', :action => 'new' %>
<p>
<%= button_to 'Update Sort Order', :action => 'sort' %>
<table border="1">
  <tr> <th>Name</th> <th>Active?</th></tr>
  <% for rigtype in @rigtypes %>
    <tr>
      <td><%=h rigtype.name %></td>
      <td><%= rigtype.active %></td>
      <td><%= link_to 'Edit', :action => 'edit', :id => rigtype %></td>
      <td><%= link_to 'Delete', { :action => 'destroy', :id => rigtype },
				:confirm => "Are you sure you want to delete #{rigtype.name}?",
				:method => 'post' %></td>
    </tr>
  <% end %>
</table>
</p>
<%= button_to 'Finished', :controller => 'setup/index' %>
