<div id="extras">
  <div id=extra_type>
    <label for="option_extra_type">Type of Extra:</label>
      <%= radio_button 'extra', 'extra_type', Extra::STANDARD %>Standard
      <%= radio_button 'extra', 'extra_type', Extra::COUNTED %>Counted
      <%= radio_button 'extra', 'extra_type', Extra::MEASURED %>Measured
      <%= radio_button 'extra', 'extra_type', Extra::OCCASIONAL %>Occasional<br />
  </div>
  <%= observe_field 'extra_extra_type_0',
		    :url => {:action => 'update_type', :only_path => false},
		    :update => 'extras',
		    :with => "'extra_type='+encodeURIComponent(value)" %>
  <%= observe_field 'extra_extra_type_1',
		    :url => {:action => 'update_type', :only_path => false},
		    :update => 'extras',
		    :with => "'extra_type='+encodeURIComponent(value)" %>
  <%= observe_field 'extra_extra_type_2',
		    :url => {:action => 'update_type', :only_path => false},
		    :update => 'extras',
		    :with => "'extra_type='+encodeURIComponent(value)" %>
  <%= observe_field 'extra_extra_type_3',
		    :url => {:action => 'update_type', :only_path => false},
		    :update => 'extras',
		    :with => "'extra_type='+encodeURIComponent(value)" %>

  <p>
  <% if @extra.extra_type == Extra::MEASURED %>
    <div id="measured">
  <% else %>
    <div id="measured" style="display: none">
  <% end %>
    <label for="extra_rate">Rate per Unit:</label>
    <%= text_field 'extra', 'rate'  %>
    <label for="extra_unit_name">Unit Name:</label>
    <%= text_field 'extra', 'unit_name'  %>
  </div>

  <% if @extra.extra_type == Extra::OCCASIONAL %>
    <div id="occasional">
  <% else %>
    <div id="occasional" style="display: none">
  <% end %>
    <label for="extra_charge">Charge</label>
    <%= text_field 'extra', 'charge'  %></p>
  </div>

  <% if @extra.extra_type == Extra::STANDARD || @extra.extra_type == Extra::COUNTED %>
    <div id="standard">
  <% else %>
    <div id="standard" style="display: none">
  <% end %>
    <label for="extra_daily">Daily Rate</label><br/>
    <%= text_field 'extra', 'daily'  %></p>

    <p><label for="extra_weekly">Weekly Rate</label><br/>
    <%= text_field 'extra', 'weekly'  %></p>

    <p><label for="extra_monthly">Monthly Rate</label><br/>
    <%= text_field 'extra', 'monthly'  %></p>
  </div>

  <% if @extra.extra_type == Extra::COUNTED %>
    <p><label for="extra_maximum">Maximum limit of count</label><br/>
    <%= text_field 'extra', 'maximum'  %></p>
  <% end %>
</div>
<!--[eoform:extra]-->

