<% form_for @blackout, :url => {:controller=>"setup/blackout", :action=>"create"} do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'form' %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= button_to 'Cancel', {:controller=>"setup/blackout", :action=>"index"}, :method => :get %>
<%= button_to 'Finished', :controller => 'setup/index' %>
