<% if Discount.active.count > 0 %>
  <span id="discount">
  <% if !@reservation.editable? or (defined? envelope and envelope?) %>
    <%= I18n.t('reservation.Discount') %>:
    <b>
    <%= if @reservation.discount_id? && @reservation.discount_id > 0
	  @reservation.discount.name
	else
	  I18n.t('reservation.none')
	end %></b>
    </b>
  <% elsif @reservation.seasonal? && Discount.skip_seasonal? %>
    <%# do nothing %>
  <% else %>
      <%= I18n.t('reservation.Discount') %>:
      <span class="noprint">
	<% if @remote && @static %>
	  <%= @reservation.discount.name %>
	<% else %>
	  <%= collection_select(:reservation, :discount_id, Discount.active, :id, :name, {:prompt => true}) %>
	<% end %>
      </span>
      <span class="nodisplay">
	<b>
	<%= if @reservation.discount_id? && @reservation.discount_id > 0
	      @reservation.discount.name
	    else
	      I18n.t('reservation.none')
	    end %></b>
	</b>
      </span>
      <%= observe_field :reservation_discount_id,
			:url => {:action => 'update_discount', :only_path => false, :reservation_id => @reservation.id },
			:with => "'discount_id='+encodeURIComponent(value)" %>
  <% end %>
  </span>
<% end %>
