<div style="display: flex">
  <%= button_to I18n.t('reservation.DownloadData'), :action => 'available_csv', :id => 'btn_download' %>
  <div>
    <select id="comboMonth">
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>
      <option>October</option>
      <option>November</option>
      <option>December</option>
    </select>
  </div>
</div>
<br>
<% if session[:admin_status] %>
  <span class="occupied"><%= I18n.t('reservation.Occupied') %></span>
  <span class="reserved"><%= I18n.t('reservation.Reserved') %></span>
  <span class="late"><%= I18n.t('reservation.NotCheckedIn') %></span>
  <span class="unavailable"><%= I18n.t('reservation.Flash.SpaceUnavailable') %></span>
  <span class="today"><%= I18n.t('reservation.Today') %></span>
  <br><br>
<% end %>
<div id="container" >
  <table id="available" class="available" cellspacing="0" admin-session="<%= session[:admin_status] %>">
    <thead>
      <%= header -%>
    </thead>
    <tbody>
      <%= available(@res) %>
    </tbody>
  </table>
</div>
<script type="text/JavaScript">
  TableLock("available", "av_space", "av_date", "locked");
  var cells = document.querySelectorAll(".available td");
  var table = document.getElementsByTagName('table')[0];
  for (var i = 0; i < cells.length; i++) {
    if (cells[i].hasChildNodes()) {
    }else{
      cells[i].setAttribute('style', 'cursor: pointer');
      cells[i].addEventListener("click", function(){
        handler(this);
     });
    }
  }
  function handler(param) {
    var parentTr = param.parentElement;
    var obj = parentTr.getElementsByTagName("td")[0];
    var cellindex = param.cellIndex;

    var start_date = parentTr.parentElement.parentElement.children[0].children[1].children[cellindex].textContent;
    var spaceTxt = obj.textContent;
    location.href = "/reservation/express?"+"start_date="+start_date+"&space="+spaceTxt;
  }
</script>

