<div style="display: flex">
  <%= button_to I18n.t('reservation.DownloadData'), :action => 'available_csv', :id => 'btn_download' %>
  <%= select_tag(:month,
          '<option>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>', :onchange => 'getMonthlyData()') %>
  <div style="margin-left:40px;margin-top:5px">
    <span class="c-button c-button--arrow-left" tabindex="0" onclick="PrevRes()">
      <span class="c-button__text">Previous</span>
    </span>
    <span class="c-button c-button--arrow-right" tabindex="0" onclick="NextRes()">
      <span class="c-button__text">Next</span>
    </span>
  </div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
<br>
<% if session[:admin_status] %>
  <div style="display:flex">
    <span class="occupied"><%= I18n.t('reservation.Occupied') %></span>
    <span class="reserved"><%= I18n.t('reservation.Reserved') %></span>
    <span class="late"><%= I18n.t('reservation.NotCheckedIn') %></span>
    <span class="unavailable"><%= I18n.t('reservation.Flash.SpaceUnavailable') %></span>
    <span class="today"><%= I18n.t('reservation.Today') %></span>
  </div>
  <br>
<% end %>
<div id="container" >
  <table id="available" class="available" cellspacing="0" admin-session="<%= session[:admin_status] %>">
    <thead id="available_head">
      <%= header -%>
    </thead>
    <tbody id="available_body">
      <%= available(@res) %>
    </tbody>
  </table>
</div>
<script type="text/JavaScript">
  // table header and first column lock
  var tableHeaderTop = document.querySelector('#available_head').getBoundingClientRect().top;
  var ths = document.querySelectorAll('#available_head th')

  for(var i = 0; i < ths.length; i++) {
    var th = ths[i];
    th.style.top = th.getBoundingClientRect().top - tableHeaderTop + "px";
  }

  //set current month to month combo
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];

  const d = new Date();
  document.getElementById("month").value = monthNames[d.getMonth()];

  // Add click function to td that has no link
  var cells = document.querySelectorAll(".available td");
  var table = document.getElementsByTagName('table')[0];
  for (var i = 0; i < cells.length; i++) {
    if (cells[i].hasChildNodes()) {
      if(cells[i].childNodes[0].tagName == "A") {
        cells[i].parentElement.setAttribute("hasspace", "true");
      }
    }else{  
      cells[i].setAttribute('style', 'cursor: pointer');
      cells[i].addEventListener("click", function(){
        handler(this);
     });
    }
  }
  function handler(param) {
    var parentTr = param.parentElement;
    if(parentTr.getAttribute("hasspace") != "true") {
      var obj = parentTr.getElementsByTagName("td")[0];
      var cellindex = param.cellIndex;

      var start_date = parentTr.parentElement.parentElement.children[0].children[1].children[cellindex].textContent;
      var spaceTxt = obj.textContent;
      location.href = "/reservation/express?"+"start_date="+start_date+"&space="+spaceTxt;
    }else{
      alert("This space is already reserved. Try a different space.");
      return;
    }
  }
  function getMonthlyData() {
    let currentMonth = document.getElementById("month").value;
    new Ajax.Request('getMonthlyData', {
      parameters: {"month": getMonthFromString(currentMonth)},
      onSuccess: function(res) {
        document.getElementById("available").innerHTML = res.responseText;
      }
    });
  }
  function getMonthFromString(month){
    return new Date(Date.parse(month +" 1, 2012")).getMonth()+1;
  }

  function NextRes() {
    let resTableHeadMonth = document.querySelectorAll('#lockedHeadMonth');
    let resTableHeadDay = document.querySelectorAll('#lockedHeadDay');
    let nextStartMonth = resTableHeadMonth[0].lastChild.innerText;
    let nextStartDate = resTableHeadDay[0].lastChild.innerText;
    new Ajax.Request('getNextData', {
      parameters: {"startMonth": getMonthFromString(nextStartMonth), "startDate": nextStartDate},
      onSuccess: function(res) {
        document.getElementById("available").innerHTML = res.responseText;
      }
    });
  }

  function PrevRes() {
    let resTableHeadMonth = document.querySelectorAll('#lockedHeadMonth');
    let resTableHeadDay = document.querySelectorAll('#lockedHeadDay');
    let strCurrentStartMonth = resTableHeadMonth[0].childNodes[1].innerText;
    let strCurrentStartDate = resTableHeadDay[0].childNodes[1].innerText;
    let count = resTableHeadDay[0].childElementCount - 2;

    let startMonth = 0;
    let startDate = 0;
    let d = new Date();
    let currentStartYear = d.getFullYear();
    let currentStartMonth = getMonthFromString(strCurrentStartMonth);
    let currentStartDate = Number(strCurrentStartDate);
    let tempDate = new Date(currentStartYear, currentStartMonth-1, currentStartDate);
    tempDate.setDate(currentStartDate - count);

    if(tempDate.getFullYear() != currentStartYear) {
      startMonth = 1;
      startDate = 1;
    }else{
      startMonth = tempDate.getMonth() + 1;
      startDate = tempDate.getDate();
    }
    console.log(startMonth+"@"+startDate);
    // return;
    new Ajax.Request('getPreviousData', {
      parameters: {"startMonth": startMonth, "startDate": startDate},
      onSuccess: function(res) {
        document.getElementById("available").innerHTML = res.responseText;
      }
    });
  }
</script>

