<div style="display: flex">
  <%= button_to I18n.t('reservation.DownloadData'), :action => 'available_csv', :id => 'btn_download' %>
  <%= select_tag(:month,
          '<option>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>', :onchange => 'getMonthlyData()') %>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
<br>
<% if session[:admin_status] %>
  <span class="occupied"><%= I18n.t('reservation.Occupied') %></span>
  <span class="reserved"><%= I18n.t('reservation.Reserved') %></span>
  <span class="late"><%= I18n.t('reservation.NotCheckedIn') %></span>
  <span class="unavailable"><%= I18n.t('reservation.Flash.SpaceUnavailable') %></span>
  <span class="today"><%= I18n.t('reservation.Today') %></span>
  <br><br>
<% end %>
<div id="container" >
  <table id="available" class="available" cellspacing="0" admin-session="<%= session[:admin_status] %>">
    <thead id="available_head">
      <%= header -%>
    </thead>
    <tbody id="available_body">
      <%= available(@res) %>
    </tbody>
  </table>
</div>
<script type="text/JavaScript">
  var tableHeaderTop = document.querySelector('#available_head').getBoundingClientRect().top;
  var ths = document.querySelectorAll('#available_head th')

  for(var i = 0; i < ths.length; i++) {
    var th = ths[i];
    th.style.top = th.getBoundingClientRect().top - tableHeaderTop + "px";
  }

  var cells = document.querySelectorAll(".available td");
  var table = document.getElementsByTagName('table')[0];
  for (var i = 0; i < cells.length; i++) {
    if (cells[i].hasChildNodes()) {
      if(cells[i].childNodes[0].tagName == "A") {
        cells[i].parentElement.setAttribute("hasspace", "true");
      }
    }else{  
      cells[i].setAttribute('style', 'cursor: pointer');
      cells[i].addEventListener("click", function(){
        handler(this);
     });
    }
  }
  function handler(param) {
    var parentTr = param.parentElement;
    if(parentTr.getAttribute("hasspace") != "true") {
      var obj = parentTr.getElementsByTagName("td")[0];
      var cellindex = param.cellIndex;

      var start_date = parentTr.parentElement.parentElement.children[0].children[1].children[cellindex].textContent;
      var spaceTxt = obj.textContent;
      location.href = "/reservation/express?"+"start_date="+start_date+"&space="+spaceTxt;
    }else{
      alert("This space is already reserved. Try a different space.");
      return;
    }
  }
  function getMonthlyData() {
    let currentMonth = document.getElementById("month").value;
    new Ajax.Request('getMonthlyData', {
      parameters: {"month": getMonthFromString(currentMonth)},
      onSuccess: function(res) {
        document.getElementById("available").innerHTML = res.responseText;
      }
    });
  }
  function getMonthFromString(month){
    return new Date(Date.parse(month +" 1, 2012")).getMonth()+1;
  }
</script>

