<% form_tag :action => 'express_2' do %>
  <div id='dates'>
    <%= render :partial => 'shared/dates' %>
  </div>
  <p>
  <%= render :partial => 'shared/sitetype' %>
  </p>
  <p>
  <%= render :partial => 'shared/count' %>
  <span id="spaces">
    <%= render :partial => 'space_pulldown' %>
  </span>
  </p>
  <span style="display: none">
    <%= collection_select(:reservation, :discount_id, Discount.active, :id, :name, {:prompt => true}) if @option.use_discount? && Discount.active.count > 0 %>
  </span>
  <p><%= submit_tag I18n.t('reservation.CompleteReservation') %></p>
<% end %>
<a href="../images/sitemap.jpg" onclick="goclicky(this); return false;" target="_blank" class="sitemap">Site Map</a>

<script type="text/javascript">
  //url parse
  var current_url = window.location.href;
  const url = new URL(
    current_url
  );
  var glb_start_year = url.searchParams.get('start_year');
  var glb_start_month = url.searchParams.get('start_month');
  var glb_start_date = url.searchParams.get('start_date');
  var glb_space = url.searchParams.get('space');
  if(glb_start_date !== null && glb_space !== null) {
    var spaceSelect = document.getElementsByName("space[space_id]")[0];
    for (var i = 0; i < spaceSelect.options.length; ++i) {
        if (spaceSelect.options[i].text === glb_space) {
          spaceSelect.options[i].selected = true;
        }  
    }
    var o = $H({ day: Number(glb_start_date), month: Number(glb_start_month)-1, year: Number(glb_start_year) });
    glbStartCalendarDateSelect.navYear(Number(glb_start_year));
    glbStartCalendarDateSelect.navMonth(Number(glb_start_month)-1);
    glbStartCalendarDateSelect.updateSelectedDate(o, true);
    glbStartCalendarDateSelect.refresh();

    document.getElementsByClassName("cds_body")[0].onclick = function() {myFunction1()};
    document.getElementsByClassName("cds_body")[1].onclick = function() {myFunction1()};

    myFunction();
  }else{
    document.getElementsByClassName("cds_body")[0].onclick = function() {myFunction1()};
    document.getElementsByClassName("cds_body")[1].onclick = function() {myFunction1()};

    myFunction();
  }

  function myFunction() {
    var startDate = glbStartCalendarDateSelect.selected_date;

    startDate.setDate(startDate.getDate() + 1);
    var o = $H({ day: startDate.getDate(), month: startDate.getMonth(), year: startDate.getFullYear(), hour: startDate.getHours(), minute: startDate.getMinutes() });
    glbEndCalendarDateSelect.navYear(startDate.getFullYear());
    glbEndCalendarDateSelect.navMonth(startDate.getMonth());
    glbEndCalendarDateSelect.updateSelectedDate(o, true);
    glbEndCalendarDateSelect.refresh();
    startDate.setDate(startDate.getDate() - 1);
  };
  function myFunction1() {
    var startDate = glbStartCalendarDateSelect.selected_date;
    var endDate = glbEndCalendarDateSelect.selected_date;
    if(endDate <= startDate) {
      startDate.setDate(startDate.getDate() + 1);
      var o = $H({ day: startDate.getDate(), month: startDate.getMonth(), year: startDate.getFullYear(), hour: startDate.getHours(), minute: startDate.getMinutes() });
      glbEndCalendarDateSelect.navYear(startDate.getFullYear());
      glbEndCalendarDateSelect.navMonth(startDate.getMonth());
      glbEndCalendarDateSelect.updateSelectedDate(o, true);
      glbEndCalendarDateSelect.refresh();
      startDate.setDate(startDate.getDate() - 1);
    }else{
      glbEndCalendarDateSelect.refresh();
    }
  };
  //Open a pop-up window in the center of the screen
  function FindLeftWindowBoundry()
  {
    // In Internet Explorer window.screenLeft is the window's left boundry
    if (window.screenLeft)
    {
      return window.screenLeft;
    }
    
    // In Firefox window.screenX is the window's left boundry
    if (window.screenX)
      return window.screenX;
      
    return 0;
  }
  function FindTopWindowBoundry()
  {
    // In Internet Explorer window.screenLeft is the window's left boundry
    if (window.screenTop)
    {
      return window.screenTop;
    }
    
    // In Firefox window.screenY is the window's left boundry
    if (window.screenY)
      return window.screenY;
      
    return 0;
  } 
  function goclicky(meh)
  {
      var x = screen.width/2 - 700/2 + FindLeftWindowBoundry();
      var y = screen.height/2 - 450/2 + FindTopWindowBoundry();
      window.open(meh.href, 'sharegplus','height=500,width=700,left='+x+',top='+y);
  }
</script>
