<% form_tag :action => 'express_2' do %>
  <div id='dates'>
    <%= render :partial => 'shared/dates' %>
  </div>
  <p>
  <%= render :partial => 'shared/sitetype' %>
  </p>
  <p>
  <%= render :partial => 'shared/count' %>
  <span id="spaces">
    <%= render :partial => 'space_pulldown' %>
  </span>
  </p>
  <span style="display: none">
    <%= collection_select(:reservation, :discount_id, Discount.active, :id, :name, {:prompt => true}) if @option.use_discount? && Discount.active.count > 0 %>
  </span>
  <p><%= submit_tag I18n.t('reservation.CompleteReservation') %></p>
<% end %>
<a href="../images/sitemap.jpg" onclick="goclicky(this); return false;" target="_blank" class="sitemap">Site Map</a>

<script type="text/javascript">
  var current_url = window.location.href;
  const url = new URL(
    current_url
  );
  var glb_start_date = url.searchParams.get('start_date');
  var glb_space = url.searchParams.get('space');
  if(glb_start_date !== null && glb_space !== null) {
    var spaceSelect = document.getElementsByName("space[space_id]")[0];
    for (var i = 0; i < spaceSelect.options.length; ++i) {
        if (spaceSelect.options[i].text === glb_space) {
          spaceSelect.options[i].selected = true;
        }  
    }
    var calendar = glbStartCalendarDateSelect;
    var d = new Date();
    calendar.date = new Date();
    var o = $H({ day: glb_start_date, month: d.getMonth(), year: d.getFullYear(), hour: d.getHours(), minute: d.getMinutes() });
    calendar.updateSelectedDate(o, true);
    calendar.refresh();
  }
  function FindLeftWindowBoundry()
  {
    // In Internet Explorer window.screenLeft is the window's left boundry
    if (window.screenLeft)
    {
      return window.screenLeft;
    }
    
    // In Firefox window.screenX is the window's left boundry
    if (window.screenX)
      return window.screenX;
      
    return 0;
  }
  // Find Left Boundry of current Window
  function FindTopWindowBoundry()
  {
    // In Internet Explorer window.screenLeft is the window's left boundry
    if (window.screenTop)
    {
      return window.screenTop;
    }
    
    // In Firefox window.screenY is the window's left boundry
    if (window.screenY)
      return window.screenY;
      
    return 0;
  }
      
  function goclicky(meh)
  {
      console.log(FindLeftWindowBoundry(), FindTopWindowBoundry());
      var x = screen.width/2 - 700/2 + FindLeftWindowBoundry();
      var y = screen.height/2 - 450/2 + FindTopWindowBoundry();
      window.open(meh.href, 'sharegplus','height=500,width=700,left='+x+',top='+y);
  }
</script>
